<div class="food-view">
  <div class="d-flex justify-content-end " style="margin-right: 10rem; margin-top: 5rem">
    <%= link_to 'Add Inventory', new_inventory_path, class: "btn btn-dark p-3" %>
  </div>
  <% Inventory.all.each do |inventory| %>
    <div class="card mb-3 style-card" style="max-width: 750px; padding-left:30px; margin-left: 30rem">
      <div class="row g-0">
        <div class="col-md-4 d-flex flex-column">
          <%= link_to inventory_path(inventory) do %>
           <h2> <%= inventory.name %> </h2>
          <% end %>
        </div>
        <div class="card-body">
          <p class="card-text"> It is a long established fact that a reader will be distracted by the readable 
          content of a page when looking at its layout. 
          The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, 
          as opposed to using 'Content here, content here', making it look like readable English.</p>
          <% if can? :manage, inventory %>
            <%= button_to "Delete", inventory_path(inventory) , data: {turbo: false}, method: :delete, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%=@inventories = Inventory.where(user: current_user).inspect%>
</div>