<div class="flex justify-center mt-48 mb-48 container mx-auto">
    <div class="w-4/5 bg-white shadow-lg p-10">
        <h1 class="section-title">
        <%= @inventory.name %>
        </h1>

        <%= button_to "Add food", new_food_path, method: :get %>

        <table>
        <tr>
            <th>Food</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
        <% @inventory.inventory_food.includes(:food).each do |invfoo| %>
            <tr>
                <td> <%= invfoo.food.name %> </td>
                <td> <%= invfoo.quantity %> </td>
                <td>
                    <%= button_to "Remove", food_path(invfoo.food.id), method: :delete %>
                </td>
            </tr>
        <% end %>
        </table>
    </div>
</div>