<%= render partial: 'recipe_details', locals: {recipe: @recipe} %>

<%# Popup section %>
<div class="popup hidden">
  <button class="close-btn btn bg-red-300">close </button>
  <h1>Generating Shopping List</h1>
  <p>Choose an inventory to use</p>

  <%= form_with url: shopping_list_index_path(recipe_id: @recipe.id, inventory_id: :inventory_id), method: :get do |form| %>    
    <%= form.hidden_field :recipe_id, value: @recipe.id %>
    <%= form.collection_select :inventory_id, @inventories.order(:name),:id,:name, :include_blank => "--Select inventory--" %>
    <%= form.submit "Generate Shopping List", class: 'btn bg-teal-300' %>
  <% end %>
</div>
